AZURE_OPENAI_API_KEY=${AZURE_OPENAI_API_KEY}
AZURE_OPENAI_BASE_URL=${AZURE_OPENAI_BASE_URL}
AZURE_OPENAI_DEPLOYMENT=${AZURE_OPENAI_DEPLOYMENT}
AZURE_OPENAI_MODEL_NAME=${AZURE_OPENAI_MODEL_NAME}
AZURE_OPENAI_RESOURCE_NAME=${AZURE_OPENAI_RESOURCE_NAME}

GITHUB_TOKEN=${GITHUB_REPO_TOKEN}
